*{
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
    background-color: rgb(107, 152, 152);
}

/* transform nos permite agregar trndformaciones en css que permiten escalar rotar sesgar y trasladar a un elemento */
.element{
    height: 200px;
    width: 200px;
    margin: 70px;
    background-color: tomato;
    /* para usar tranform usamos la propiedad con varios metodos */
    /* transform: translateX(100px) translateY(200px); */

    /* transform: translate(100px,200px); */
    /* translate permite trasladar a un elelemnto por medios de cordenadas x-y */
    /* translate reemplaza a las propiedades opset de position cuando usamos animaciones debido a que cuando usamos opset en animaciones
     * consume mas recursos */

    /* tambien puedo usar porcenteaje que seria referente al ancho o alto del elemento */
     /* transform: translate(100%, 100%); */

    /* tambien puedo rotar el elemento con rotate */
    transition: 0.3s;
    /* transform: rotate(190deg); */
    /* 
     0-360 deg     = grados
     0-400 grad    = gradianes
     0-6.28319 rad = radianes 
     0-1 turn = vuelta
    */
}
/* .element:hover{

    transform: rotate(1turn);
} */


.element:hover{
    /* transform: scale(2,1.5); */

    /* miltiplica el tamaño por el alto y ancho por 2 */
    /* si se le ponne 1 signifia que no se va a imcrementar */
    /* este metodo permite aumentar o decrementar el valor e un elemento y puedo usar valores negativos y positivos */

    /* transform: scale(1, .5); */
    /* lo que hace es tomar su ancho dividirlo entre 10 y multiplicarlo por .7 para tomar su valor final*/
    transform-origin: left top;
}

/* ahoa veremos como sesgar un elemento */
.container{
    width: 100%;
    height: 30%;
    border: 1px solid rgb(82, 30, 24);
}
.container:hover .element{
    /* siempre que usamos transisiones devemos tener un contenedor para que no cueste demadiado la transision*/
    transform: scale(1.3) skewX(10deg) skewX(10deg) translate(100px, 100px) translate(100px, 100px);
    /* primero se sesga luego se escala y luego se traslada */
    /* todas las propiedades que hemos visto se pueden usar en transfotrm sin ningun problema  */
}
