
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;900&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.nav{
    background-color: #293241;
    height: 80px;
    color: white;
}
/* contenedor de enlaces y logos */
.nav-container{
    display: flex;
    /* para que ponga los elementos en una misma linea*/
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 1.5em;
    font-weight: 900;
}
.nav-menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}
.nav-item{
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 0, 0 3%, 0 100%, 0% 100%);
}
/* ahora al los item le daremos un efectoque cuando se pase el mouse se agregue el borde */
.nav-item::after{
    content: '';
    display: block;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 3px;
    margin-top: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.nav-item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav-input:checked + .nav-menu{

}
.nav-label, .nav-input{
    display: none;
}
@media(max-width:700px){
    .nav-label{
        display: block;
        cursor: pointer;
        color: #fff;
    }
    .nav-menu{
        /* par que salga del flujo */
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: #f08080;
        width: 100%;
        /* al darle lef 0 y wid 100% ocupara todo el espacio */
        left: 0;
        justify-content:space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        /* clip oculta el menu */
        transition: clip-path 1s ease-in-out;

    }
    .nav-input:checked + .nav-menu{
        background-color: tomato;
        clip-path: circle(100% at center);
    }
}
