
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Overpass:wght@300;600&family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;900&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --cairo:'Cairo', sans-serif;
    --ibm:'IBM Plex Sans', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--ibm);
    background-color: rgb(248, 241, 242);
}
.nav{
    display: flex;
    padding: 0 10px 0 10px;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
/* .nav-logo{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    background-color: aqua;
} */
.figure-img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
.nav-name{
    background-color: rgb(63, 171, 253);
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    color: #000;
}
.nav-title{
    margin: 0 auto;
    font-weight: 700;
}
main{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2,1fr);
    padding: 0 10px 0 10px;
    grid-template-areas: 
    "section-design section-design"
    "section-css section-css"
    "section-html section-js"
    "section-html section-js"
    "section-sql section-sql"
    "section-java section-java"
    "section-perfil section-perfil"
    "section-perfil section-perfil"
    "section-work section-work"
    "my-work my-work"
    "section-contacts section-contacts"
    ;
    gap: 0px 20px;
}
.section{
    width: 100%;
    height: 200px;
    /* padding: 0 10px 0 10px; */
    overflow: hidden;
    border-radius: 7px;
}
.section-texts{
    height: 120px;
    font-family: var(--cairo);
}
.title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.paragraph{
    line-height: 1.5;
    color: rgb(92, 91, 91);
    padding: 10px;
    text-align: center;
    font-family: var(--open-sans);
    letter-spacing: .5px;
}
.section-design{
    grid-area: section-design;
    height: 260px;
    padding: 20px;
}
.section-css{
    height: 250px;
    grid-area: section-css;
}
.section-html{
    grid-area: section-html;
}
.section-js{
    grid-area: section-js;
}
.section-sql{
    grid-area: section-sql;
}
.section-java{
    grid-area: section-java;
}
.section-perfil{
    height: 390px;
    margin-top: 50px;
    grid-area: section-perfil;
    margin-bottom: 50px;
}
.section-work{
    height: 350px;
    grid-area: section-work;
}
.my-work{
    grid-area: my-work;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.section-contacts{
    font-family: var(--open-sans);
    grid-area: section-contacts;
    margin-top: 25px;
    background-color: #000;
    height: 330px;
}
/* ===========imagenes de fondo de las secciones ============ */
.section-css-img{
    position: relative;
    border-radius: 5px;
    background-image: url(../assets/images/CSS.png);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.section-html-img{
    position: relative;
    background-image: url(../assets/images/HTML.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.section-js-img{
    position: relative;
    background-image: url(../assets/images/JavasCript.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.section-sql-img{
    position: relative;
    background-image: url(../assets/images/sql.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.section-java-img{
    background-image: url(../assets/images/JAVA.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.section-perfil-img{
    background-image: url(../assets/images/PERFIL.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
}
/* ================================================================ */
.title-section-css{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
    /* par subir */
}
.title-work{
    font-size: 1.5rem;
}
.section-work-cta{
    display: block;
    text-decoration: none;
    background-color: indianred;
    color: #fff;
    height: 50px;
    width: 150px;
    margin: 15px auto 0 auto;
    padding: 10px;
    font-size: 1.2rem;
    font-family: var(--ibm);
    text-align: center;
    border-radius: 25px;
}

.work-ctas{
    width: 70%;
    height: 70px;
    display: block;
    margin: 15px auto 0  auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    order: 10;
}
.cta{
    display: flex;
    background-color: #000;
    width: 60px;
    height: 60px;
    align-items: center;
    border-radius: 50%;
}
.cta-img{
    width: 80px;
    height: 50px;
}

/* Animaciones para cambiara la imagen */
.work-img{
    width: 100%;
    height: 95%;
    background-image: url(../assets/images/JAVA.PNG);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-size: 100% 100%;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-name: cambiar-fondo;
    transition: .5s;
} 

@keyframes cambiar-fondo{

    0%{
        background-image: url(../assets/images/JAVA.PNG); 
        content: "";
    }35%{
        background-image: url(../assets/images/Practica-web1.png);
    }70%{
        background-image: url(../assets/images/Practica-web2.png);
    }100%{
        background-image: url(../assets/images/JAVA.PNG); 
    }
}
.work-img:hover{
    animation-play-state: paused;
}

.texts-contacts{
    margin-top: 20px;
    color: #fff;
}
.title-contact{
    color: #fff;
    font-size: 1.7rem;
}
.paragraph-contact{
    color: #fff;
    font-size: 1rem;
}
 
