*{
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: yellow;
    min-height: 1000px;
    font-family: Arial;
}
.container{
    margin-left: 0%;
    padding: 40px;
    width: 30%;/*referente al ancho de su padre mas cercano
    */
    /* para definir la unidad realtiva del tamaño del wiewprot en el wid se agrega*/
    /*width: 0vw; /*toma el 0% del tamaño del viwport del su contenedor*/
    width: 50vw;
    background-color: aqua;
    /*si le pongo al body un alto minimo de 1000px tambien contaria al viewport como elk scrol*/
}

/* en css exsisten dos clases de medidas */
/* Absolutas
 * Tinen un valor definido y no depende de nada mas por lo que nunca va a cambar */

 /* ejemplo*/
 .title{
    font-size: 40px;/*es una unidad absoluta nunca cambia*/
    /*puedo usar puntos(pt), milimetros(mm), o centimetros(cm)*/
    font-size: 3pt;
 }