*{
    margin: 0;
    box-sizing: border-box;
}
:root{
/* esta seudoclase es root esta representando a la raiz del documento puedo crear variables*/
/* se llaman custon properties porque son propiedades que se crean y puedo ponerle cualquier valor que va dentro 
 * de otra propiedad por ejempo --poppings: 'Open Sans', sans-serif;  a popings le agregue una propidadad de fontFamily 
 *  aadi cuando valla a usar font family le agrego popings*/

    --poppings: 'Open Sans', sans-serif;
    --opensans: 'Poppins', sans-serif;

    /*COLORES*/
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);

    /* padding para los contenedores padres*/
    --padding-container: 80px 0;
}

body{
    font-family: var(--opensans);
}
.container{
    width: 90%;
    max-width: 1200px;
    /* que su ancho no rebase los 1200px */
    margin: 0 auto;
    overflow: hidden;
    /* que todo lo que salga del contenedor se esconda*/
    padding: var(--padding-container);
}
.hero{
    min-height: 100vh;
    position: relative;
    --wave-bottom: url('../images/bg-section-top-mobile-1.svg');
     /* para poder pocicionar la weave esta es la propiedad que va em la clase wave bottom
      * para la primera seccion */
}
.hero_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --paddin-container: 60px 0 45px;
    /* al cambiar este valor cambia tambien en hero_nav y en todos sus hijos*/
}
.hero_huddle{
    display: block;
    width: 150px;
}
.hero_cta{
    text-align: center;
    text-decoration: none;
    color: var(--Light-Pink);
    height: 30px;
    width: 100px;
    border: 2px solid;
    font-weight: 600;
    /* peso de la letra*/
    border-radius: 35px;
    box-shadow: 0 0 1px;
}
.hero_main{
   text-align: center;
   color: var(--Very-Dark-Cyan);
}
.hero_title{
    font-family: var(--poppings);
}
.hero_parragraph{
    width: 90%;
    margin: 30px auto;
    line-height: 1.5;
}
.cta{
    display: inline-block;
    width: 250px;
    margin-top: 5px;
    padding: 13px 30px;
    text-decoration: none;
    color: var(--Very-Pale-Blue);
    background-color: var(--Pink);
    border-radius: 35px;
    font-family: var(--poppings);
    font-weight: 600;
}
.hero_picture{
    display: flex;
    margin-top: 200px;
    width: 100%;
    padding: var(--paddin-container);
    margin:20px 0px;
    overflow: hidden;
}
.hero_img{
    display: block;
    width: 100%;
    height: 250px;
    max-width: 1000px;
    padding: 0px 15px;
}
.hero_numbers{
    margin: 0 auto;
    height: 100%;
    min-height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero_number{
    font-size: 3.5rem;
    font-family: var(--poppings);
}
.hero_item{
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.hero_icon{
    right: -65px;
    position: relative;
    display:inline-block;
    width: 45px;
    height: 80%;
}
.hero_communities{
    font-size: 20px;
    font-family: var(--opensans);
    width: 100%;
}

/* Esta clase es para la wave la wave esta puesta en hero para llamarla en el wave--bottom o selector padre*/
.wave{
    position: absolute;
    width: 100%;
    height: 100px;
    background-size: 100% 100px;
    background-repeat: no-repeat;
    /* bacground ancho y alto de la wave*/
}
.wave--bottom{
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
    /* background-image: var(--wave-bottom); */
    /* se llama wave bottom porque es la que va en el bottom de la primera section despues de 2.7m+*/
}
.section{
    background-color: var(--Very-Pale-Blue);
    --padding-container: 110px 0;
    /* debido a que esta propiedad ya esta en root se modificara en esta seccion solamente*/
}
.section_container{
    display: flex;
    flex-direction: column;
}
.section_picture{
    margin: 70px 0;
}
.section_img{
    width: 100%;
    display: block;
    max-width: 350px; /* que no revase los 350 px*/
    margin: 0 auto; /* en caso de que revase los 350 px siempre se sentre*/
}
.section_texts{
 text-align: center;
 margin-top: 50px;

}
.subtittle{
    margin-bottom: 30px;
    font-family: var(--poppings);
}
.section_paragraph{
    margin-bottom: 15px;
}
.section_white{
    position: relative;
    background-color: rgb(255, 255, 255);
    --wave-top: url('../images/bg-section-bottom-mobile-1.svg');
    --wave-bottom: url('../images/bg-section-top-mobile-2.svg');
    --padding-container: 210px 0;
}
.wave--top{
    left: 0;
    top: 0;
    background-image: var(--wave-top);
    /* esta wave se pone para agregarla o intercalar cuando es una wave que va en el top de una seccion
     * a diferencia de la de la de arriba que va en el bottom de la seccion
     * si es una imagen diferente se tendra que cambiar su contenido dentro del selector padre */
}
.question{
    position:relative;
    --wave-top: url('../images/bg-section-bottom-mobile-2.svg');
    --wave-bottom: url('../images/bg-footer-top-mobile.svg');
    --padding-container: 190px 0;
    text-align: center;
}
